.pokedex-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
   
  }

  .pokedex-header h1{
    font-family: 'Press Start 2P', cursive;
  }
  .pokedex-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
  }