.cards-1 {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  }
  
  .cards-1 .pokemons-1 {
    background: white;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 450px;
    margin-left: 32px;
    width: 350px;
  }
  
  

  .cards-1  .pokemons-1 img {
    width: 100%;

  }
  

  
  .cards-1 .pokemons-1 h3 {
    font-size: 100%;
    margin: 16px 0;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
  }
  
  .cards-1  .pokemons-1 span p {
   
    margin: 16px 0;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    display: flex;
  }
  
  
  
  
  
  